{% load static %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>news_app</title>
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
</head>

<body>

<div class="container">
  <header class="tm-site-header">
    <h1 class="tm-site-name">News app</h1>
      <p class="tm-site-description">Some description here</p>
      <nav class="navbar navbar-expand-md tm-main-nav-container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
            <ul class="nav nav-fill tm-main-nav-ul">
              <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'team' %}">Team</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
              {% if user.is_authenticated %}
              <div class="btn-group">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                  <a class="dropdown-item" href="{% url 'password_change' %}">Password Change</a>
                </div>
              </div>
              {% endif %}
            </ul>
          </div>
        </nav>
  </header>
  <div class="tm-main-content">

  <section class="tm-margin-b-l">
      {% block content %}
      {% endblock content %}
  </section>

  </div>
  <footer>
  Copyright <span class="tm-current-year"> </span> News App
  </footer>
  <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      // Update the current year in copyright
      $('.tm-current-year').text(new Date().getFullYear());
      });
  </script>
</div>
</body>
</html>