{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<section class="tm-margin-b-l">
  <header>
    <h2 class="tm-main-title">News app</h2>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Pellentesque habitant morbi tristique senectus et netus et malesuada. Nec tincidunt praesent
    semper feugiat.</p>
</section>

<section class="tm-margin-b-l">
<ul class="nav nav-pills nav-fill" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'article_list' %}">All articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'article_new' %}">Add new</a>
  </li>
</ul>
</section>

{% else %}
<div class=".container-fluid">
  {% include "notlogged.html" %}
</div>
{% endif %}
{% endblock content %}